$color-bg: #000;
$color-text: #fff;
$color-dark-1: #222;
$color-dark-2: #333;
$color-panel: #1a1a1a;
$color-panel-2: #2a2a2a;
$color-grey: #8e8e8e;
$color-line: #444;
$color-accent: yellow;
$color-red: #ff3a3a;
