@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Geologica:wght@100..900&display=swap');

$font-base: "comfortaa", sans-serif;
$font-heading: "Geologica", sans-serif;
$base-padding: 20px;
