body {
  font-size: 14px;
  font-family: $font-base;
  color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  font-weight: 700;
  font-family: $font-heading;
}

h1 { font-size: 38px; }
h2 { font-size: 32px; }
h3 { font-size: 28px; }
h4 { font-size: 24px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }

p {
  font-size: 14px;
  line-height: 1.2;
  margin: 12px 0;
}

a {
  color: var(--color-red);
  font-weight: 400;
  text-decoration: underline;

  &:hover, &:focus {
    text-decoration: none;
  }
}

strong { font-weight: 700; }
em { font-style: italic; }
